extends layout
block append scripts
  script(src='javascripts/finger.js')
  script(src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
  script(src='javascripts/recorder.js')
  script
    window.UUID = "!{uuid}".replace(/-/g,"");
block append content
  body
    div(class="row")
      div(class="span4 offset8")
        div(class="btn-group")
          button(class="btn", data-bind='css:{ active:mode()==="edit" }, click:function(){ setMode("edit") }') Draw
          button(class="btn", data-bind='css:{ active:mode()==="play" }, click:function(){ setMode("play") }') Play
    div(class="row")
      canvas(width="600",height="600",id="canvas")
    div(id='log')
    div(id='wami')