extends layout
block append content
  body
    div(class="row")
      h1(class='page-title') Finger Thingy
      h2 Painting sound with your fingers
      p
        | Inspired by 
        a(href="http://singingfingers.blogspot.co.uk/") singing fingers
    div(class="row")
      a(href="/draw", style="font-size: 24pt") You can try it right now 
      | or read this...
      p
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah Lorem ipsum delorem blah 
        | Lorem ipsum delorem blah Lorem ipsum delorem blah 
    div(class="row")
      p The video below was our main inspiration...
    div(class="row")
      iframe(width="640", height="360", src="http://www.youtube.com/embed/G1tRY1TALgU?feature=player_embedded")
        